body.auth-body {
  background-color: lightblue !important;
  background:
    linear-gradient(rgba(173, 216, 230, 0.6), rgba(173, 216, 230, 0.6)),
    url('../assets/fondo.png');
  background-size: cover;
  background-position: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}